* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #F5F8FF;
}
.P-headerer{
    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;
    /* width: 1440px; */
    height: 698px;
     /* display: flex; */
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;

}
.bannerDiv{
    display:flex;
    justify-content: center;
    text-align:center;
}
.banner-description{
    max-width: 905px;
    height: 152px;
    text-align: center;
    /* font-size: 50px; */
}
.banner{
    justify-content: center;
    align-items:flex-end;
    /* width: 915px;
    height: 227px; */
    font-size: 65px;
    font-weight:bold;  
}



.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn-2{
    justify-content:center;
    align-items: center;
     text-align: center;
}
.nav-title{
font-weight:900 ;
font-size: 34px;
color: #4E47FF;
}

nav ul li{
    list-style: none;
}
/* nav ul{
    display: flex;
} */
nav li a{
    text-decoration: none;
}
.btn-primary{
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    border:none;
    border-radius: 10px;
    padding: 12px 36px;
    font-weight: bold;
    
}
.main-div{
    display: flex;
    justify-content: space-between;
    margin:116px 159px 0 141px;
}
.maindivh3{
    font-size: 48px;
    font-weight: bold;
}
.pclass{
    font-size: 24px;
    font-weight: normal;
    color: #252432;
}
.imag{
    width:403px ;
    height:328px ;
    border-radius: 48px;
}


.hello{
    display: flex;
  justify-content: center;    
}

.section3{
    
  width: 1140px;
  height: 306px;
  margin-top: 116px;
  border-radius: 24px;
  background-color: #D6DDED;
  justify-content: center;
  padding: 50px 142px 50px 142px;
  margin-left:141px ;
  margin-right: 159px;
    

}
.headerSec3{
    font-size: 38px;
    font-weight: bold;
    text-align: center; 

}
.user1 ul{
    display: flex;
    justify-content: space-between;
     list-style: none;
}

.user1 ul li{
   font-size: 80px;
   font-weight: bold;
   color: #4E47FF;
}
.user2 ul{
    display: flex;
    justify-content: space-between;
     list-style: none; 
   
}
.user2 ul li{
    margin-top: 0;
   font-size: 20px;
   font-weight:normal;
   color: #9c9b9b;
}



/* review */
.CardMainframe01{
    display: flex;
    justify-content: center;
    background-color: #D6DDED;
       border-radius: 8px;
}
.UserSay{
    display: flex;
    justify-content: center;
      font-size: 42px;
     font-weight: bold;
 
}
.CardMainFrame{
    display: flex;
    justify-content: center;
    width: 1140px;
    height: 342px;
}

.card-section{
    width: 366px;
    height: 243px;
    padding: 25px 25px 25px 25px;
    border: 2px solid white;
    border-radius: 10px;
    margin-right:  50px;
    background-color: white;
    margin-top: 20px;
    box-shadow: 5px 6px 6px 6px rgb(151, 157, 164);


}
.icn{
    display:flex;
    text-align: right;
    margin: 0,100px;

}
.icn li{
    list-style: none;
}
.headingLove{
    font-weight: bold;
}
.paraVer{
    color: #8987A1;
}
.divImga{
    display:flex;
}
.pvar{
    font-weight: bold;
}
.imgClass2{
width: 70px;
height: 70px;
    border-radius: 50%;
}





.formingClass {
    height: 650px;
    width: 1440;
    border-radius: 10px;
    padding: 90px 0px 0px 0px;
    margin: 140px auto;
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
}

.formingTitle {
    height: 245px;
    width: 580px;
    font-size: 50px;
    font-weight: bold;
    word-wrap: break-word;

}

.formingClass input[type=text], input[type=email], input[type=textarea] {
    height: 50px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 400px;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: 1px solid rgb(230, 211, 179);
}

.formingClass input[type=button] {
    height: 50px;
    width: 100%;
}







footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 5%;
}
footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 35px;
   
 a{
     text-decoration: none;
}
    
}

.footerDiv {
    text-align: center;
}

footer h1 {
    color: #4E47FF;
    font-size: 80px;
}

footer p {
    max-width: 530px;
    height: 48px;
    word-wrap: break-word;
}



