.P-headerer{
    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;
    /* width: 1440px; */
    height: 698px;
     /* display: flex; */
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;

}
.bannerDiv{
    display:flex;
    justify-content: center;
    text-align:center;
}
.banner-description{
    width: 905px;
    height: 152px;
    text-align: center;
}
.banner{
    justify-content: center;
    align-items:flex-end;
    /* width: 915px;
    height: 227px; */
    font-size: 65px;
    font-weight:bold;  
}



.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn-2{
    justify-content:center;
    align-items: center;
     text-align: center;
}
.nav-title{
font-weight:900 ;
font-size: 34px;
color: #4E47FF;
}

nav ul li{
    list-style: none;
}
/* nav ul{
    display: flex;
} */
nav li a{
    text-decoration: none;
}
.btn-primary{
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    border:none;
    border-radius: 10px;
    padding: 12px 36px;
    font-weight: bold;
    
}
